<table>
	<tr>
		<th><!-- thumbnail --></th>
		<th>title</th>
		<th>creator</th>
		<th>date</th>
		<th>state</th>
		<th><!-- actions --></th>
	</tr>
	{% for object in object_list %}
	<tr>
		<td>
			<img style="width:128px;height:auto;" src="{{ object.thumbnail }}" />
		</td>
		<td>{{ object.title }}</td>
		<td>{{ object.creator }}</td>
		<td>{{ object.date|date }}</td>
		<td>
			{{ object.get_state_display }}
		</td>
		<td>
			<a href="{{object.get_absolute_url}}">view</a>
			<a href="{% url rtv:video_update pid=object.pid %}">edit</a>
			{% if object.state == 'A' %}
			<a href="{% url rtv:video_state pid=object.pid state='I' %}">deactivate</a>
			<a href="{% url rtv:video_state pid=object.pid state='D' %}">delete</a>
			{% endif %}
			{% if object.state == 'I' %}
			<a href="{% url rtv:video_state pid=object.pid state='A' %}">activate</a>
			<a href="{% url rtv:video_state pid=object.pid state='D' %}">delete</a>
			{% endif %}
			{% if object.state == 'D' %}
			<a href="{% url rtv:video_state pid=object.pid state='A' %}">activate</a>
			<a href="{% url rtv:video_state pid=object.pid state='I' %}">deactivate</a>
			{% endif %}
			<a href="{% url rtv:video_delete pid=object.pid %}">purge (delete for real)</a>
		</td>
	</tr>
	{% endfor %}