{% extends 'base.html' %}
{% block content %}

<style type="text/css">
	.vid {
		display:block;
		/* needs to be driven by object.width and object.height */
		width: {{object.width}}px;
		height: {{object.height}}px;
	}
	dl#links {
		position: absolute;
		top: 60px;
		left: 10px;
		width: 160px;
	}
	div#feature {
		margin-left: 180px;
	}
</style>

<div id="feature">
	<h2>{{object.title|title}}</h2>
	<h3>{{object.date|date}}</h3>
	<video poster="{{object.thumbnail}}" controls="controls" class="vid">
	    <source src="{{object.mp4}}" type="video/mp4" />
		<source src="{{object.ogv}}" type="video/ogg" />
		<a href="{{object.mp4}}" id="player" class="vid"></a>
	</video>
	<div class="dcore">
		{% include 'rtv/dublin_core.html' %}	
	</div>
</div>

<dl id="links">
	<dt>tools</dt>
	<dd>
		<ul>
			<li>
				<a href="{% url rtv:upload %}">upload</a>
			</li>
			<li>
				<a href="{% url rtv:queue %}">queue</a>
			</li>
		</ul>
	</dd>
</dl>

<script>
	flowplayer("player", "{{MEDIA_URL}}flowplayer/flowplayer-3.2.1.swf");
</script>
{% endblock content %}
