<!DOCTYPE HTML>
<html>
<head>
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<style type="text/css">
/* 
CSS rules to use for styling the overlay:
  .chromeFrameOverlayContent
  .chromeFrameOverlayContent iframe
  .chromeFrameOverlayCloseBar
  .chromeFrameOverlayUnderlay
*/
</style>
<![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% block title %}
<title>{{title}}</title>
{% endblock title %}
<script type="text/javascript" src="{{MEDIA_URL}}flowplayer/flowplayer-3.2.0.min.js"></script>
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}styles/layout.css" />
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}styles/text.css" />
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}styles/test.css" />
{% block stylesheet %}
{% endblock stylesheet %}
</head>
<body>
<!--[if IE]>	
{% include 'chromeframe.html' %}
<![endif]-->
<h1>{{title}}</h1>
{% block content %}
{{content}}
{% endblock content %}
{% if rtv_version %}
<h6><em>rtv version: {{rtv_version}}</em></h6>
{% endif %}
</body>
</html>
